@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Rubik", sans-serif;
}

::-webkit-scrollbar{
    display: none; 
}

@theme{
  --color-primary : #5044E5;
}